@import "../bower_components/bootstrap/less/bootstrap.less"; 

@import "../bower_components/bootstrap/less/responsive.less"; 


/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

svg {
    background-color: black;
}
.circle {
    stroke-width:20;
    stroke-linecap:round;
    radius: 10;
}
.circle:hover {
    stroke-width:30;
    cursor:pointer;
}

.polygon {
    fill:red;
    fill-opacity:0.5;
    stroke:lightblue;
    stroke-width:3;
}
.opaque {
  fill-opacity:1.0; 
}

.visipoly {
    fill:white;
    fill-opacity:0.5;
    stroke:grey;
    stroke-width:3;    
}

