@import "../bower_components/bootstrap/less/bootstrap.less";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

svg {
    background-color: white;
}


.circle {
    stroke-linecap:round;
    opacity:0.5;
    stroke-width:15;
    stroke: #888;
}
.circle:hover {
    //stroke-width:12;
    stroke-width: 30;
    opacity: 1;
    stroke: black;
    cursor:pointer;
}
.circle.lit {
  stroke: #fa0;
  stroke-width:30;
  opacity:1;
}

.line {
    stroke: black; //darken(@brand-primary, 20%);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-opacity: 1;
}
.mid-line {
    stroke: lighten(@brand-primary, 0%);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-opacity: 1;
}
.thin-line {
    stroke: black; //lighten(@brand-primary, 20%);
    stroke-width: 5;
    stroke-linecap: round;
    stroke-opacity: 1;
}

.polygon {
    fill: #5588dd;
    fill-opacity:0.75;
    stroke: #555;
    stroke-width:5;
    stroke-opacity:0.75
}
.camera {
    stroke: @brand-info;
    stroke-width: 30;
    stroke-linecap: round;
    stroke-opacity: 1;    
}

.opaque {
  stroke: @brand-danger;
  fill-opacity:1.0;
  stroke-opacity: 2.0;
}

.inside {
    stroke: red;    
}

.visipoly {
    fill:lighten(@brand-success, 20%);
    fill-opacity:0.4;
    stroke:white;
    stroke-width:1;
    stroke-opacity:1;
    pointer-events: none;
}
.visipoly.selected {
    fill:lighten(@brand-danger, 10%);
    fill-opacity:0.8;
}

.toolControls {
  display:inline-block;
}

.dotty-grid {
  display:inline-block;
  vertical-align: top;
}

.fa {
  font-size: 180%;
}



