
<div class="toolControls" >
    <div class="btn-group"
      popover-placement="bottom" popover="Playback drawing" popover-trigger="mouseenter">
      <button
        class="btn btn-default btn-sm"
        ng-repeat="tool in playerTools"
        ng-click="toolClick(tool)"
        ng-disabled="!tool.enabled()"><i class="fa fa-{{tool.icon}}"></i> {{tool.label}}
      </button>
    </div>

    <button
      class="btn btn-{{tool.type}} {{tool.active}}"
      popover-placement="bottom" popover="{{tool.tip}}" popover-trigger="mouseenter"
      style="margin-right:5px;"
      ng-repeat="tool in drawTools"
      ng-click="toolClick(tool)"
      ng-disabled="!tool.enabled()"><i class="fa fa-{{tool.icon}}"></i> {{tool.label}}
    </button>

    <div class="btn-group">
      <button
        class="btn btn-default btn-sm"
        ng-repeat="tool in undoTools"
        ng-click="toolClick(tool)"
        ng-disabled="!tool.enabled()"><i class="fa fa-{{tool.icon}}"></i> {{tool.label}}</button>
    </div>
    
    <a href="mailto:{{mailTo}}?subject={{mailSubject}}&amp;body={{mailBody()}}"
        class="btn btn-link btn-sm"
        popover-placement="bottom" popover="Share my drawing" popover-trigger="mouseenter"
        ng-disabled="false"><i class="fa fa-envelope"></i> Share</a>

<!--     <span ng-show="fullScreen">
      <button
          class="btn btn-link btn-sm"
          popover-placement="bottom" popover="Load drawing in address bar" popover-trigger="mouseenter"
          ng-click="showLink()"><i class="fa fa-link"></i> Reload</button>
      </button>
    </span>
 -->
    <button
        class="btn btn-link btn-sm"
        popover-placement="bottom" popover="Clear drawing" popover-trigger="mouseenter"
        ng-click="reset()"><i class="fa fa-bolt"></i> Clear</button>
    </button>
    
    <a ng-href="{{getUrl()}}" target="_parent" class="btn btn-sm btn-info pull-right" ng-hide="fullScreen"><i class="fa fa-expand"></i> Full Screen</a>

    <a href="{{backLink}}" ng-show="fullScreen"
        popover-placement="bottom" popover="Exit drawing and full screen" popover-trigger="mouseenter"
        class="btn btn- btn-sm btn-info pull-right"
        ng-disabled="false"><i class="fa fa-compress"></i> Exit</a>
</div>

<svg d3
  class="dotty-grid"
  ng-attr-height="{{svgHeight()}}"
  ng-attr-width="{{svgWidth()}}"
>

  <g ng-attr-transform="{{transform()}}">
    <polygon ng-repeat="p in polygons()" ng-attr-class="{{p.klass}}"
      ng-attr-points="{{p.points}}">
    </polygon>

    <line ng-repeat="line in lines()" ng-attr-class="{{line.klassthin}}"
      ng-attr-x1="{{line.x1}}"
      ng-attr-x2="{{line.x2}}"
      ng-attr-y1="{{line.y1}}"
      ng-attr-y2="{{line.y2}}"></line>

    <line ng-repeat="dot in orangeDots()" class="circle drawnorange"
      ng-attr-x1="{{dot.x}}"
      ng-attr-x2="{{dot.x}}"
      ng-attr-y1="{{dot.y}}"
      ng-attr-y2="{{dot.y}}">
    </line>

    <line ng-repeat="dot in blueDots()" class="circle drawnblue"
      ng-attr-x1="{{dot.x}}"
      ng-attr-x2="{{dot.x}}"
      ng-attr-y1="{{dot.y}}"
      ng-attr-y2="{{dot.y}}">
    </line>

    <line ng-repeat="dot in redDots()" class="circle drawnred"
      ng-attr-x1="{{dot.x}}"
      ng-attr-x2="{{dot.x}}"
      ng-attr-y1="{{dot.y}}"
      ng-attr-y2="{{dot.y}}">
    </line>


    <g ng-repeat="row in grid.rows" ng-attr-transform="translate(0 {{row.y}})" >
      <!-- lines from dot A to dot A create circles of radius determined by CSS line-stroke -->
      <!-- the svg circle directive needs an `r` attribute which can't be set in CSS -->
      <g ng-repeat="dot in row" ng-attr-transform="translate({{dot.x}} 0)" >
        <line class="smalldot"></line>
        <line  class="circle"></line>
      </g>
    </g>
<!-- ng-click="dotClick(dot)" -->
    <line class="circle poly-lit" ng-show="polyFirst"
      ng-attr-x1="{{greenDot.x}}"
      ng-attr-x2="{{greenDot.x}}"
      ng-attr-y1="{{greenDot.y}}"
      ng-attr-y2="{{greenDot.y}}">
    </line>

    <line class="circle poly-open" ng-show="polyLast"
      ng-attr-x1="{{orangeDot.x}}"
      ng-attr-x2="{{orangeDot.x}}"
      ng-attr-y1="{{orangeDot.y}}"
      ng-attr-y2="{{orangeDot.y}}">
    </line>

    <line class="circle line-lit" ng-show="lineFirst"
      ng-attr-x1="{{blueDot.x}}"
      ng-attr-x2="{{blueDot.x}}"
      ng-attr-y1="{{blueDot.y}}"
      ng-attr-y2="{{blueDot.y}}">
    </line>

  </g>
</svg>

